/* https://clairewn.github.io/homework4-2022/hw4.html */

body {
    font-family: 'Poppins', serif;
    background-image: url('../images/concrete_seamless.jpg');
    background-color: #f1f1f1;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_links {
    display: flex;
    flex-direction: column;
}

a:visited {
    color: blue;
}

.card > header {
    background: #288088;
    border: 2px solid #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.card {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    flex-basis: 450px;
}

.pricing {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.gallery img {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#logo {
    animation-duration: 5s;
    animation-name: logo_animation;
}

@keyframes logo_animation {
    from {
        width: 25px;
        opacity: 0;
    }
    to {
        width: 475px;
        opacity: 1;
    }
}

@media screen and (min-width: 900px) {
    header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    
    .nav_links {
        flex-direction: row;
        align-items: flex-end;
    }
    
    .card {
        flex-basis: 250px;
    }

    body header:not(main header){
        position: sticky;
        top: 0;
        z-index: 2;
    }
}

@media screen and (prefers-reduced-motion) {
    #logo {
        animation-duration: 0s;
    }
}

@media print {
    body {
        background-image: none;
        font-family: Arial, Helvetica, sans-serif;
    }

    .nav_links {
        flex-direction: row;
        justify-content: space-around;
    }

    nav {
        width: 100%;
    }
    
    .pricing {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;
        justify-content: center;
    }

    .card {
        border: 2px solid #45ADDD;
    }

    #gallery {
        display: none;
    }

    .gallery {
        display: none;
    }

    .pricing li:nth-child(2)::after {
        content: '👍';
    }
}